.cards {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-column-gap: 100px;
 margin: 0 auto 0 auto;
 padding: 0;
 max-width: 920px;
}

@media screen and (min-width: 691px) and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }  
}

@media screen and (max-width: 690px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}