.footer__column_content_info {
    list-style: none;
}

@media screen and (min-width: 511px) and (max-width: 1011px) {
    .footer__column_content_info {
        margin-right: 20px;
        max-width: 30%;
    }   
}