.khan__quote {
    width: 790px;
    margin: 50px 0 36px 0;
    padding: 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

@media screen and (max-width: 815px) {
    .khan__quote {
        max-width: 80%;
        font-size: calc((100vw - 320px)/(1280 - 320) * (24 - 16) + 20px);
        text-align: center;
        margin: 50px auto 36px auto;
    }   
}