.footer__column-link {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  transition: ease 1s;
}

.footer__column-link:hover {
  opacity: 30%;
}

@media screen and (min-width: 511px) and (max-width: 1085px) {
  .footer__column-link {
    font-size: calc((100vw - 320px)/(1280 - 320) * (18 - 15) + 12px);
    line-height: calc((100vw - 320px)/(1280 - 320) * (30 - 15) + 13px);
  }   
}
