.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: ease 1s;
}

.feynman__link:hover {
  opacity: 30%;
}


@media screen and (max-width: 1087px) {
  .feynman__link {
    z-index: 2;
    top: 35%;
    font-size: calc((100vw - 320px)/(1280 - 320) * (36 - 20) + 25px);
  }
}