.footer__columns {
    display: flex;
    padding-top: 0;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 510px) {
    .footer__columns {
        flex-direction: column;
        text-align: center;
    }   
}