.khan__author {
    margin: 0;
    padding: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}

@media screen and (max-width: 560px) {
    .khan__author {
      margin: 0 auto 10px auto;
      text-align: center;
    }
}