
.footer__author {
    margin: 18px auto;
    line-height: 25px;
    font-size: 18px;
    color: white;
    width: 90%;
}

@media screen and (min-width: 511px) and (max-width: 1051px) {
    .footer__author {
        font-size: calc((100vw - 320px)/(1280 - 320) * (18 - 15) + 15px);
        line-height: calc((100vw - 320px)/(1280 - 320) * (30 - 15) + 13px);
    }
}