@import url(../vendor/normalize.css);
@import url(../vendor/fonts/OpenSans.css);
@import url(../blocks/page/page.css);
@import url( ../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_opacity/logo_opacity.css);
@import url(../blocks/content/content.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/contact-form/contact-form.css);
@import url(../blocks/contact-form/__label/contact-form__label.css);
@import url(../blocks/contact-form/__input/contact-form__input.css);
@import url(../blocks/contact-form/__textarea/contact-form__textarea.css);
@import url(../blocks/contact-form/__button/contact-form__button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column/_content/footer__column_content_info.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__column/_content/footer__column_content_social.css);