.kaufman__triangle {
    background-image: url("../../../images/kaufman-triangle.svg");
    background-size: 877px 877px;
    position: absolute;
    height: 877px;
    width: 877px;
    top: 0;
    right: -210px;
}