.section-subtitle_theme_dark {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 60%;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    z-index: 2;
}