.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Halvetice Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  margin: 0;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  height: 32px;
  left: 64px;
  top: 30px;
}

.header__title {
  justify-content: right;
  align-self: center;
  position: relative;
  margin: 0;
  margin-left: 64px;
  width: 703px;
  font-size: 102px;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  left: 64px;
  width: 388px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustrarion {
  position: absolute;
  height: 608px;
  width: 765px;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__square-pic  {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

/** Description section **/

.description {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-colomns__main-text {
  min-width: 784px;
  max-width: 80%;
}

.two-columns__paragraph { 
 margin: 0;
 padding-bottom: 30px;
 line-height: 34px;
 font-size: 24px;
 font-weight: normal;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/** Digits section **/

.digits {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 100px;
  margin: 0;
}

.section-title {
  align-self: flex-start;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
 align-self: center;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 0;
 margin-top: 20px;
 width: 60%;
 line-height: 34px;
 font-size: 24px;
 font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  margin-bottom: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/** Feyman section **/

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  min-height: 790px;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
 margin: 0;
 padding: 0;
 width: 648px;
 text-align: center;
 line-height: 1.15;
 font-size: 120px;
 font-weight: bold;
 z-index: 1;
}

.feynman__subtitle {
 margin: 0;
 padding-top: 70px;
 line-height: 51px;
 font-size: 36px;
 font-weight: normal;
 z-index: 1;
}

.feynman__link {
 position: absolute;
 right: 48px;
 top: 50%;
 line-height: 51px;
 font-size: 36px;
 font-weight: normal;
 color: #2f80ed;
 text-decoration: none;
}

.feynman__background-pic {
  position: absolute;
  height: 637px;
  width: 867px;
  left: 0;
  bottom: 0;
}
/** Kayfman section**/

.kaufman {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
}

.section-title_theme_dark {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
 width: 60%;
 text-align: center;
 line-height: 34px;
 font-size: 24px;
 font-weight: normal;
 color: white;
 z-index: 2;

}

.table_theme_dark {
  z-index: 3;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark { 
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: 877px 877px;
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
}

/** Footer section **/

.footer {
 display: flex;
 box-sizing: border-box;
 min-height: 350px;
 padding-top: 60px;
 padding-bottom: 40px;
 background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.footer__column {
  margin: 0;
  padding: 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 711px;
  list-style: none;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
 margin-top: 18px;
 margin-bottom: 18px;
 line-height: 25px;
 font-size: 18px;
 color: white;
}

.footer__column_content_info {
  list-style: none;
}

.footer__column-heading {
  align-self: flex-start;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}

.footer__column-link {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column_content_social {
  list-style: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}






