.table__text {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

@media screen and (min-width: 401px) and (max-widt: 600px) {
    .table {
        margin: 0 auto;
        max-width: 370px;
    }

}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .table {
        display: block;
        margin: 0 auto;
        max-width: 260px;
    }
}