.khan__book-pic {
    object-fit: cover;
    object-position: 0 0;
    margin: 0;
    padding: 0;
    width: 608px;
    height: 620px;
}

@media screen and (max-width: 654px) {
    .khan__book-pic {
        max-width: 80%;
        height: calc((100vw - 320px)/(1280 - 320) * (608 - 308) + 300px);
    }  
}